@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.App {
   font-family: Poppins;
   transition: 0.3s;
}

.text-pink {
   color: #d91b5c;
}

.bg-pink {
   background: #d91b5c;
}

.main {
   margin-top: 100px;
}

@import '~antd/dist/antd.css';
